{% extends "base.html" %}
{% block content %}
  <h2>About</h2>
  <p>This application provides a list of items within a variety of categories 
  as well as provide a user registration and authentication system. 
  Registered users will have the ability to post, edit and delete their own 
  items.</p>
  <p>This web app is a project for the Udacity 
    <a href="https://in.udacity.com/course/full-stack-web-developer-nanodegree--nd004/" 
      target="_blank">Full Stack Web Developer Nanodegree</a>.
  </p>
{% endblock %}
