<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="Catalog App">
    <meta name="author" content="Alain Boisvert">
    <title>Catalog App</title>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
      crossorigin="anonymous">

    <!-- Others styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse bg-inverse navbar-expand-lg" style="background-color: #292B2C;">
      <a class="navbar-brand" href="{{url_for('category.show_categories')}}" style="color: #FFF;">Catalog App</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('category.show_categories')}}" style="color: #FFF;">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about.about')}}" style="color: #FFF;">About</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          {% if 'username' not in session %}
            <a href="{{url_for('auth.show_login')}}" class="btn btn-danger">Login</a>
          {% else %}
            <a href="#" data-toggle="popover" data-trigger="focus" 
              title="Authentication" 
              data-content="{{ session['username'] }} ({{ session['email'] }})">
              <img src="{{ session['picture'] }}" class="picture">
            </a>
            <a href="{{url_for('auth.disconnect')}}" class="btn btn-danger">Logout</a>
          {% endif %}
        </form>
      </div>
    </nav>
    
    <div class="container-fluid" style="margin-top: 1rem;">
      <!-- Content here -->
      {% block content %}{% endblock %}
      
      <!-- Footer -->
      <hr>
      <p>
        <small>
          {% if 'username' in session %}
            You are currently signed in ({{ session['username'] }}, {{ session['email'] }}).
          {% else %}
            You are not currently signed in. 
            Please <a href="{{url_for('auth.show_login')}}">login</a> to be able 
            to add, update, or delete item information.
          {% endif %}
        </small>
      </p>
    </div>
    
    <script>
      $(function() {
        $('[data-toggle="popover"]').popover()
      });
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" 
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
      integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
      crossorigin="anonymous"></script>
  </body>
</html>
