{% extends "base.html" %}
{% block content %}
  <img src="{{creator.picture}}" style="border-radius: 50%; width: 80px;"> {{creator.name}} 
  
  {% if 'username' in session %}
    <div>
      <a href="{{url_for('catalog')}}" 
        class="btn btn-success">Add a new menu item</a>
    </div>
  {% endif %}
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h4>{{ item.title }}</h4>
  <p>Description: {{ item.description }}</p>
{% endblock %}
